{% extends "account/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block extra_title %} - Change Password{% endblock %}

{% load i18n %}

{% load account socialaccount %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<section class="border-top-wide d-flex flex-column theme-light">
    <div class="page page-center my-4">
        <div class="container container-tight py-4">
            <div class="text-center text-dark mb-4">
                <a href="{% url 'homepage' %}" class="navbar-brand navbar-brand-autodark">
                    <h1>Horizon Shop</h1>
                </a>
            </div>
            <div class="card card-md bg-dark rounded-3">
                <div class="card-body">
                    <h2 class="text-center text-yellow mb-4">
                        {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
                    </h2>
                    {% if token_fail %}

                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p class="text-center text-light">{% blocktrans %}The password reset link was invalid, possibly
                        because it has already been used. Please request a
                        <a href="{{ passwd_reset_url }}" class="text-yellow">new password reset</a>.
                        {% endblocktrans %}
                    </p>

                    {% else %}

                    <form method="POST" action="{{ action_url }}" class="signup text-yellow">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" name="action"
                            class="btn btn-yellow text-dark w-100 primaryAction rounded-3"
                            value="{% trans 'change password' %}" />
                    </form>

                    {% endif %}

                    <a href="{% url 'homepage' %}"
                        class="btn w-100 button button btn-primary secondaryAction rounded-3">
                        {% trans "Homepage" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}