<!--DONE-->

{% extends "account/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% load i18n %}

{% load account %}

{% block extra_title %} - Reset Password{% endblock %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<section class="d-flex flex-column theme-light">
    <div class="page page-center my-4">
        <div class="container container-tight py-4">
            <div class="text-center text-dark mb-4">
                <a href="{% url 'homepage' %}" class="navbar-brand navbar-brand-autodark">
                    <h1>Horizon Shop</h1>
                </a>
            </div>
            <div class="card card-md bg-dark rounded-3">
                <div class="card-body">
                    <h2 class="text-center text-yellow mb-4">{% trans "Password Reset" %}</h2>
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    <p class="text-light">
                        {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
                    </p>

                    <form method="POST" action="{% url 'account_reset_password' %}"
                        class="password_reset signup text-dark">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" value="{% trans 'Reset My Password' %}"
                            class="btn btn-yellow text-dark w-100 primaryAction rounded-3" />
                    </form>
                </div>
                <div class="hr-text">or</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p class="text-light">{% blocktrans %}Please contact us if you have any trouble resetting
                                your
                                password.{% endblocktrans %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}