{% extends "account/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% load i18n %}

{% load account %}

{% block extra_title %} - Sign Up Closed{% endblock %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}

<section class="d-flex flex-column theme-light">
    <div class="page page-center my-4">
        <div class="container container-tight py-4">
            <div class="text-center text-dark mb-4">
                <a href="{% url 'homepage' %}" class="navbar-brand navbar-brand-autodark">
                    <h1>Horizon Shop</h1>
                </a>
            </div>
            <div class="card card-md bg-dark rounded-3">
                <div class="card-body">
                    <h2 class="text-center text-yellow mb-4">
                        {% trans "Sign Up Closed" %}
                    </h2>

                    <p class="text-light">
                        {% trans "We are sorry, but the sign up is currently closed." %}
                    </p>
                </div>
                <div class="hr-text">or</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'homepage' %}"
                                class="btn w-100 button button btn-primary secondaryAction rounded-3">
                                {% trans "Homepage" %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>