{% extends "account/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block extra_title %} - Verify Your E-mail Address{% endblock %}

{% load i18n %}

{% load account socialaccount %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}

<section class="d-flex flex-column theme-light">
    <div class="page page-center my-4">
        <div class="container container-tight py-4">
            <div class="text-center text-dark mb-4">
                <a href="{% url 'homepage' %}" class="navbar-brand navbar-brand-autodark">
                    <h1>Horizon Shop</h1>
                </a>
            </div>
            <div class="card card-md bg-dark rounded-3">
                <div class="card-body">
                    <h2 class="text-center text-yellow mb-4">{% trans "Verify Your E-mail Address" %}</h2>

                    {% url 'account_email' as email_url %}

                    <p class="text-center text-light">
                        {% blocktrans %}
                        This part of the site requires us to verify that
                        you are who you claim to be. For this purpose, we require that you
                        verify ownership of your e-mail address.
                        {% endblocktrans %}
                    </p>

                    <p class="text-center text-light">
                        {% blocktrans %}
                        We have sent an e-mail to you for verification.
                        Please click on the link inside that e-mail. If you do not see the verification e-mail in your
                        main inbox, check your spam folder.
                        Otherwise contact us if you do not receive it within a few minutes.
                        {% endblocktrans %}
                    </p>

                    <p class="text-center text-light">
                        {% blocktrans %}
                        <strong class="text-yellow">Note:</strong>
                        you can still
                        <a href="{{ email_url }}" class="text-yellow">change your e-mail address
                        </a>.
                        {% endblocktrans %}
                    </p>

                    <a href="{% url 'homepage' %}"
                        class="btn w-100 button button btn-primary secondaryAction rounded-3">
                        {% trans "Homepage" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}