{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block extra_title %} - Checkout{% endblock %}

{% load static %}

{% block content %}

<!-- ======================= -->
<!--         Messages        -->
<!-- ======================= -->

{% include 'dashboard/includes/messages.html' %}

<!-- ======================= -->
<!--       End Messages      -->
<!-- ======================= -->

<section class="container">
    <div class="row">
        <div class="col m-4 m-lg-5">

        </div>
    </div>
</section>


<section class="container mb-5">
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <h1 class="fw-bold text-center text-dark">Checkout</h1>
                <hr class="w-25 mx-auto my-0 text-dark" style="height:2px;" />
            </div>
        </div>
    </div>


    <div class="container card rounded-3">
        <div class="row pt-2 pb-5 d-flex justify-content-center align-items-center">
            <div class="col-12">
                <form action="{% url 'payment-success' order.id  %}" method="POST" id="payment-form">

                    {% csrf_token %}

                    <div class="card-body">
                        <!-- ----------------- -->
                        <!--  Account Details  -->
                        <!-- ----------------- -->
                        <div class="card-body">
                            <legend class="fieldset-label text-dark px-2 w-auto"> Account Details</legend>
                            <div>
                                <div class="row">
                                    {% if order.created_by.first_name and order.created_by.last_name %}
                                    <div class="col-12 col-sm-6 my-2 text-dark">
                                        <label class="h2 fw-bold form-label mt-2 text-dark ">First
                                            Name:</label>
                                        <span class="form-control border-1 rounded-3">
                                            {{ order.created_by.first_name }}
                                        </span>
                                    </div>
                                    <div class="col-12 col-sm-6 my-2 text-dark">
                                        <label class="h2 fw-bold form-label mt-2 text-dark">Last Name:</label>
                                        <span class="form-control border-1 rounded-3">
                                            {{ order.created_by.last_name }}
                                        </span>
                                    </div>

                                    {% else %}

                                    <div class="col-12 col-md-6 my-2">
                                        <label class="h2 fw-bold form-label mt-2 text-dark">Account
                                            Name:</label>
                                        <span class="form-control border-1 rounded-3">
                                            {{ order.created_by.username }}
                                        </span>
                                    </div>

                                    {% endif %}

                                    <div class="col-12 col-md-6 my-2 text-dark">
                                        <label class="h2 fw-bold form-label mt-2 text-dark">Email:</label>
                                        <span class="form-control border-1 rounded-3">
                                            {{ order.created_by.email }}
                                        </span>
                                    </div>

                                    <input type="hidden" id="created_by_email_id" name="email"
                                        value="{{ order.created_by.email }}">
                                    <input type="hidden" id="order_id" name="order" value="{{ order.id }}">
                                </div>
                            </div>
                        </div>
                        <!-- ----------------------- -->
                        <!--   End Account Details   -->
                        <!-- ----------------------- -->

                        <!-- ---------------------- -->
                        <!--    Shipping Address    -->
                        <!-- ---------------------- -->

                        <div class="card-body my-4">
                            <legend class="fieldset-label text-dark px-2 w-auto">Shipping Address Details:
                                {{ order.shipping_address.shipping_name }}</legend>
                            <div class="row">

                                <div class="col-12 col-sm-8 my-2 text-dark">
                                    <label class="h2 fw-bold form-label mt-2 text-dark">Street:</label>
                                    <span class="form-control border-1 rounded-3">
                                        {{ order.shipping_address.address_street }}
                                    </span>
                                </div>
                                <div class="col-12 col-sm-4 my-2 text-dark">
                                    <label class="h2 fw-bold form-label mt-2 text-dark">Apartment:</label>
                                    <span class="form-control border-1 rounded-3">
                                        {{ order.shipping_address.apartment_number }}
                                    </span>
                                </div>

                                <div class="col-12 col-md-2 my-2 text-dark">
                                    <label class="h2 fw-bold form-label mt-2 text-dark">Country:</label>
                                    <span class="form-control border-1 rounded-3">
                                        {{ order.shipping_address.country }}
                                    </span>
                                </div>
                                <div class="col-12 col-md-3 my-2 text-dark">
                                    <label class="h2 fw-bold form-label mt-2 text-dark">City:</label>
                                    <span class="form-control border-1 rounded-3">
                                        {{ order.shipping_address.city }}
                                    </span>
                                </div>

                                <div class="col-12 col-md-3 my-2 text-dark">
                                    <label class="h2 fw-bold form-label mt-2 text-dark">Postcode:</label>
                                    <span class="form-control border-1 rounded-3">
                                        {{ order.shipping_address.postcode }}
                                    </span>
                                </div>
                                <div class="col-12 col-md-4 my-2 text-dark">
                                    <label class="h2 fw-bold form-label mt-2 text-dark">Phone:</label>
                                    <span class="form-control border-1 rounded-3">
                                        {{ order.shipping_address.phone_number }}
                                    </span>
                                </div>
                                <input type="hidden" name="shipping_address_id" value="{{ order.shipping_address.id }}">

                            </div>
                        </div>
                        <!-- ---------------------- -->
                        <!--  End Shipping Address  -->
                        <!-- ---------------------- -->


                        <!-- ------------------ -->
                        <!-- Product's Summary  -->
                        <!-- ------------------ -->
                        <div class="card-body">
                            <legend class="fieldset-label text-dark px-2 w-auto">Products Summary</legend>
                            <div class="row my-5">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="table-responsive">
                                            <table class="table table-vcenter table-mobile-md card-table">
                                                <thead>
                                                    <tr>
                                                        <th class="bg-dark text-yellow">Image</th>
                                                        <th class="bg-dark text-yellow">Name</th>
                                                        <th class="bg-dark text-yellow">Condition</th>
                                                        <th class="bg-dark text-yellow">Quantity</th>
                                                        <th class="bg-dark text-yellow">Final Price</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    {% for product in order.cart_products.all %}
                                                    <tr>

                                                        {% if product.product.image %}
                                                        <td data-label="Image">
                                                            <div class="d-flex align-items-center">
                                                                <a href="">
                                                                    <img src="{{ product.product.image.url }}"
                                                                        class="card-img-top img-fluid avatar "
                                                                        alt="Image {{ product.product.title }}">
                                                                </a>
                                                            </div>
                                                        </td>

                                                        {% else %}
                                                        <td data-label="Image">
                                                            <div class="d-flex align-items-center">
                                                                <a href="">
                                                                    <img src="{{ MEDIA_URL }}no-image-placeholder.png"
                                                                        class="card-img-top img-fluid avatar "
                                                                        alt="Image {{ product.product.title }}">
                                                                </a>
                                                            </div>
                                                        </td>

                                                        {% endif %}

                                                        <td data-label="Name">
                                                            <div class="d-flex py-1 align-items-center">
                                                                <div class="flex-fill">
                                                                    <div class="font-weight-medium">
                                                                        {{ product.product.title }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>

                                                        <td data-label="Condition">
                                                            {% if product.product.product_status == 0 %}
                                                            <div class="card-text">New</div>
                                                            {% else %}
                                                            <div class="card-text">Used</div>
                                                            {% endif %}
                                                        </td>

                                                        <td data-label="Quantity">
                                                            <div class="card-text">{{ product.quantity }}</div>
                                                        </td>
                                                        <td data-label="Price">
                                                            <div class="btn-list flex-nowrap">
                                                                <p class="text-right">
                                                                    {{ product.product_price }} Euro
                                                                </p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ---------------------- -->
                        <!-- End Product's Summary  -->
                        <!-- ---------------------- -->

                        <div class="card-body">
                            <div class="row my-3">
                                <div class="col-12 text-dark">
                                    <legend class="fs-5"><i>Quantity Products:</i> {{ total_products_cart }}</legend>
                                    <legend class="fs-5"><i>Delivery:</i>
                                        {% if delivery_cost == 0 %}
                                        FREE
                                        {% else %}
                                        {{ delivery_cost }} Euro
                                        {% endif %}
                                    </legend>
                                    <hr class="w-100 mx-auto my-0 text-dark" style="height:2px;" />
                                    <legend class="fs-3"><strong><i>Total:</i></strong> {{ total_price_cart }} Euro
                                    </legend>
                                </div>
                            </div>
                        </div>

                        <!-- Confirmation Order Modal -->
                        <!-- {% include 'includes/order-modal.html' %} -->
                        <div class="card-body">
                            <fieldset>
                                <legend class="fieldset-label text-dark px-2 w-auto">Payment Details</legend>
                                <div class="mb-3">
                                    <!-- A Stripe card element will go here -->
                                    <div class="mb-3" id="card-element">

                                    </div>

                                    <!-- Used to display form errors -->
                                    <div class="mb-3 text-danger" id="card-errors" role="alert">

                                    </div>
                                </div>
                            </fieldset>


                            <div class="row">
                                <div class="col-12 d-flex justify-content-between">
                                    <a class="my-2 btn btn-lg btn-minwidth btn-light rounded-3"
                                        href="{% url 'all_products' %}" aria-label="Go Shopping">Go
                                        Shopping!
                                    </a>

                                    <button id="submit-button" type="submit"
                                        class="my-2 btn btn-lg btn-minwidth bg-dark text-yellow rounded-3">
                                        <div id="spinner" class="spinner-border hidden" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                        <span id="button-text">Pay now</span>
                                    </button>
                                    <div id="payment-message" class="hidden">
                                        <!-- Error Message Payment Invalid Card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}


{% block postloadjs %}

{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'js/stripe_elements.js' %}"></script>

{% endblock %}