{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block extra_title %} - Payment Success{% endblock %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col m-4 m-lg-5">

        </div>
    </div>
</div>

<section class="container mb-5">
    <div class="row">
        <div class="col text-center text-warning">
            <div class="mb-3">
                <h2 class="fw-bold text-center text-dark">Payment Success</h2>
                <hr class="w-25 mx-auto my-0 text-dark" style="height:2px;">
            </div>
        </div>
    </div>

    <div class="hero-image rounded-3 mb-5 hero-cart">
        <div class="container">
            <div class="row">
                <div class="col-10 my-5 p-3 images-text-cart">
                    <div class="text-align-left">
                        <h2 class="fs-2 text-yellow">The Payment has been processed successfully!!!</h2>

                        <p class="fs-4 text-light">
                            Thanks for your purchase!
                        </p>
                        <p data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{ order.order_number }}">
                            Your Order Number is: {{ order.order_number|truncatechars:12 }}
                        </p>

                        <p>
                            You can review the information relative to all orders by clicking on the button below:
                            <br>
                            (You can also access always the list of your orders via My Orders Section in the My
                            Horizon Shop Dashoard!)
                        </p>

                        <a href="{% url 'order-list' %}" class="btn btn-yellow rounded-3 btn-lg mb-2">
                            <span class="text-uppercase text-dark fst-italic">My Orders</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}