{% extends 'dashboard/base.html' %}

{% block extra_title %} - Dashboard{% endblock %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}


<!-- ======================= -->
<!--         Messages        -->
<!-- ======================= -->

{% include 'dashboard/includes/messages.html' %}

<!-- ======================= -->
<!--       End Messages      -->
<!-- ======================= -->


<div class="container text-dark">
    <h1 class="mt-4 text-center">Shipping Address List</h1>
    <ol class="breadcrumb mb-4 mx-auto d-flex justify-content-center">
        <li class="active">Review, update or delete your Address!</li>
    </ol>

    <div class="row">
        {% for shipping in shippingaddress_list %}

        {% if shipping.created_by.id == user.id %}
        <div class="col-4">

            <div class="p-3 mb-2 mt-2 alert alert-dark rounded-3">
                <h3> Name:
                    <a href="#">
                        <strong>{{ shipping.shipping_name }}</strong>
                    </a>
                </h3>
                <div>Country: {{ shipping.country }} </div>
                <div>Phone: {{ shipping.phone_number }}</div>
                <div>Address: {{ shipping.address_street }}</div>
                <div>Apartment Number: {{ shipping.apartment_number }}</div>
                <div>City: {{ shipping.city }}</div>
                <div>Postcode: {{ shipping.postcode }}</div>
                <br />


                <a class="btn btn-minwidth btn-outline-primary rounded-3 mt-4"
                    href="{% url 'shipping-address-update' shipping.pk %}" aria-label="Update">Edit</a>
                <a class="btn btn-minwidth btn-outline-warning rounded-3 mt-4"
                    href="{% url 'shipping-address-delete' shipping.pk %}" aria-label="Delete">Delete</a>
            </div>
        </div>

        {% endif %}

        {% endfor %}

    </div>
</div>


{% if shippingaddress_list %}

{% if is_paginated %}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item disabled">
            <span class="page-link text-dark">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
        </li>
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link pagination-buttons"
                href="/dashboard/shipping-address/list?page={{ page_obj.previous_page_number }}">
                &laquo;
                Previous
            </a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link pagination-buttons"
                href="/dashboard/shipping-address/list?page={{ page_obj.next_page_number }}">
                Next
                &raquo;
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endif %}

{% else %}

{% include 'dashboard/includes/auth-error.html' %}

{% endif %}

{% endblock %}