{% extends 'dashboard/base.html' %}

{% block extra_title %} - Testimonial List{% endblock %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

<div class="container text-dark">
    <h1 class="mt-4 text-center">Testimonial Manager</h1>
    <ol class="breadcrumb mb-4 mx-auto d-flex justify-content-center">
        <li class="active">Review, update or delete your Testimonial!</li>
    </ol>

    <div class="row">
        {% for testimonial in testimonial_list %}

        {% if testimonial.created_by.id == user.id %}
        <div class="col-12">

            <div class="p-3 mb-2 mt-2 alert alert-dark rounded-3 shadow-lg">
                <h3> Title:
                    <a href="{% url 'testimonial-details' testimonial.pk %}">
                        <strong>{{testimonial.title}}</strong>
                    </a>
                </h3>
                <div><strong>Author:</strong> {{ testimonial.created_by.username }}</div>
                <div class="ratings p-0">
                    <strong>Rating:</strong>
                    {% with ''|center:testimonial.rating_stars as range %}
                    {% for i in range %}
                    <i class="fas fa-star text-yellow"></i>
                    {% endfor %}
                    {% endwith %}
                </div>
                <div><strong>Date:</strong> {{ testimonial.created_at }}</div>
                <br>
                <div><strong>Comment:</strong> {{ testimonial.comment|truncatechars:300 }} <br></div>


                <a class="btn btn-sm-minwidth btn-outline-primary rounded-3 mt-4"
                    href="{% url 'testimonial-update' testimonial.pk %}" aria-label="Update">Edit</a>
                <a class="btn btn-sm-minwidth btn-outline-danger rounded-3 mt-4"
                    href="{% url 'testimonial-delete' testimonial.pk %}" aria-label="Delete">Delete</a>

            </div>
        </div>

        {% endif %}

        {% endfor %}

    </div>
</div>

{% if testimonial_list %}

{% if is_paginated %}
<div class="container">
    <div class="row my-4">
        <div class="col d-flex justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">

                    {% if page_obj.has_previous %}
                    <li class="page-item btn btn-dark bg-dark rounded-3">
                        <a class="page-link pagination-buttons btn btn-dark bg-dark text-yellow"
                            href="/dashboard/testimonial/list?page={{ page_obj.previous_page_number }}">
                            &laquo;
                            Previous
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled btn btn-dark bg-dark rounded-3">
                        <a class="page-link pagination-buttons btn btn-dark bg-dark text-yellow" href="">
                            &laquo;
                            Previous
                        </a>
                    </li>
                    {% endif %}

                    <li class="page-item disabled btn btn-dark bg-dark rounded-3 mx-4">
                        <span class="page-link text-yellow btn btn-dark bg-dark text-yellow">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </span>
                    </li>

                    {% if page_obj.has_next %}
                    <li class="page-item btn btn-dark bg-dark rounded-3">
                        <a class="page-link pagination-buttons btn btn-dark bg-dark text-yellow"
                            href="/dashboard/testimonial/list?page={{ page_obj.next_page_number }}">
                            Next
                            &raquo;
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled btn btn-dark bg-dark rounded-3">
                        <a class="page-link pagination-buttons btn btn-dark bg-dark text-yellow" href="">
                            Next
                            &raquo;
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

{% endif %}

{% endif %}

{% else %}

{% include 'dashboard/includes/auth-error.html' %}

{% endif %}

{% endblock %}