<!-- Button to trigger the confirmation order modal -->
<button type="button" class="m-2 btn btn-lg btn-minwidth btn-outline-warning rounded-pill" data-bs-toggle="modal"
    data-bs-target="#confirmationModal" aria-label="Checkout Modal">
    Payment
</button>

<!-- Order Confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-3 my-10 rounded-3 border border-5 border-warning">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirm Order?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-dark">Click Next to confirm your order and pay or Cancel
                    to
                    continue shopping!</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="m-2 btn btn-lg btn-minwidth btn-outline-primary rounded-pill"
                    data-bs-dismiss="modal" aria-label="Cancel">Cancel
                </button>
                <button type="submit" class="m-2 btn btn-lg btn-minwidth btn-outline-warning rounded-pill"
                    aria-label="Book Parking">Next
                </button>
            </div>
        </div>
    </div>
</div>