{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- ========================== -->
<!--           Services         -->
<!-- ========================== -->
<section class="features-area text-dark mt-4 mt-md-4 pt-md-4 mt-lg-5 pt-lg-5 ">
    <div class="container">
        <div class="row services-inner bg-yellow rounded-3">
            <!-- Service Free Delivery -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-service">
                    <div class="f-icon">
                        <i class="fas fa-truck"></i>
                    </div>
                    <h6>Free Delivery</h6>
                    <p>Free Shipping on all order over 50.00 Euro!</p>
                </div>
            </div>
            <!-- Service Return -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-service">
                    <div class="f-icon">
                        <i class="fas fa-undo"></i>
                    </div>
                    <h6>Return Policy</h6>
                    <p>Free Return on all Products</p>
                </div>
            </div>
            <!-- Service Support -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-service">
                    <div class="f-icon">
                        <i class="fas fa-headset"></i>
                    </div>
                    <h6>24/7 Support</h6>
                    <p>How customer Support always ready for you!</p>
                </div>
            </div>
            <!-- Service Payment -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-service">
                    <div class="f-icon">
                        <i class="fas fa-credit-card"></i>
                    </div>
                    <h6>Secure Payment</h6>
                    <p>Secure Payment System!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ========================== -->
<!--         Hero Banner        -->
<!-- ========================== -->
{% include 'includes/hero-banner.html' %}


<!-- ========================== -->
<!--         New Product        -->
<!-- ========================== -->
<section>
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-12 m-auto title-all text-center text-dark">
                <h1>Latest New Products</h1>
                <p>
                    Below the latest used products added to Horizon Shop!!!
                </p>
            </div>
        </div>

        <div class="row">
            <!-- Check if New Products are present -->
            {% if new_products %}
            <!-- Adding For Loop New Products -->
            {% for product in new_products %}

            {% include 'includes/products.html' %}

            {% endfor %}

            {% else %}

            <div class="card-body">
                <h1>
                    No Products Available!
                </h1>
            </div>

            {% endif %}

        </div>
</section>


<!-- ========================== -->
<!--        Used Product        -->
<!-- ========================== -->
<section>
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-12 m-auto title-all text-center text-dark">
                <h1 class="h1">Latest Used Products</h1>
                <p>
                    Below the latest used products added from our customer to Horizon Shop!!!
                </p>
            </div>
        </div>
        <div class="row">
            <!-- Check if Used Products are present -->
            {% if used_products %}
            <!-- Adding For Loop Used Products -->
            {% for product in used_products %}

            {% include 'includes/products.html' %}

            {% endfor %}

            {% else %}
            <div class="card-body">
                <h1>
                    No Products Available!
                </h1>
            </div>
            {% endif %}
        </div>
    </div>
</section>


<!-- ========================== -->
<!--        Testimonials        -->
<!-- ========================== -->
{% include 'includes/testimonials.html' %}



{% endblock %}