{% load static %}

<section class="bg-hero my-5">
    <div id="homepage-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#homepage-hero-carousel" data-bs-slide-to="0" class=""></li>
            <li data-bs-target="#homepage-hero-carousel" data-bs-slide-to="1" class=""></li>
            <li data-bs-target="#homepage-hero-carousel" data-bs-slide-to="2" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item hero-image hero-used-products">
                <div class="container">
                    <div class="row p-5">
                        <div class="col-lg-8 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h2 class="fs-2 text-yellow"><b>Horizon Shop</b> e-Commerce</h2>
                                <h3 class="fs-3 text-green">Looking for used products? Horizon Shop is perfect for you!
                                </h3>
                                <p class="fs-5 text-light">
                                    A <strong>"Horizon"</strong> of used Products just for you with the warranty of
                                    Horizon Shop!!! Buy or Sell used products and we will take care of everything for
                                    you! Start Shopping for used products here!
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="carousel-item hero-image hero-delivery-products">
                <div class="container">
                    <div class="row p-5">
                        <div class="col-lg-8 mb-0 d-flex align-items-center">
                            <div class="text-yellow text-align-left">
                                <h2 class="fs-2 text-yellow"><b> Free Delivery!!! </b></h2>
                                <h3 class="fs-3 text-green">Shop Today!</h3>
                                <p class="fs-5 text-light">
                                    Join <strong>Horizon Shop</strong> for <strong>free delivery</strong> on all orders
                                    over 50.00 Euro!!!
                                    What are you waiting for?! Sign Up Today!!!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item active hero-image hero-new-products">
                <div class="container">
                    <div class="row p-5">
                        <div class="col-lg-8 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h2 class="fs-2 text-yellow">Today's New Product!!</h2>
                                <h3 class="fs-3 text-green">New Product! </h3>
                                <p class="fs-5 text-light">
                                    If you are looking for a <strong>Smartphone</strong>, or a new
                                    <strong>Console</strong> or a small <strong>Appliance</strong> for your
                                    kitchen, you have landed in the right place...Horizon Shop and Millions of new
                                    products are waiting for you everyday!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#homepage-hero-carousel" role="button"
            data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#homepage-hero-carousel" role="button"
            data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
</section>