<!-- Start Banner Hero -->
<section>
    <div id="homepage-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#homepage-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#homepage-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#homepage-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">

                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-yellow"><b>Horizon Shop</b></h1>
                                <h3 class="h2">Everything for your needs!</h3>
                                <p>
                                    100% Everything that you have always dreamed of!
                                    <strong>Free Shipping</strong> for order higher than 50 Euro!
                                </p>
                            </div>
                        </div>
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid img-carousel" src="{% static 'images/bg.jpg' %}" alt="">
                        </div>s
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid img-carousel" src="{% static 'images/bg.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">New Products</h1>
                                <h3 class="h2">An horizon of products is just waiting for you! </h3>
                                <p>
                                    Is there anything that you were thinking of? A new Car? Too big? Ok! No Problem.
                                    Maybe you are looking for a new guitar? Great!
                                    Here we have everything!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid img-carousel" src="{% static 'images/bg.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Used Products</h1>
                                <h3 class="h2">We all are important! </h3>
                                <p>
                                    You can sell everything that you need! Are you registered? Great! Click here to
                                    access your Sell Manager Page!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#homepage-hero-carousel" role="button"
            data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#homepage-hero-carousel" role="button"
            data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
</section>
<!-- End Banner Hero-->