{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block extra_title %} - Cart{% endblock %}

{% load static %}

{% block content %}

<!-- ======================= -->
<!--         Messages        -->
<!-- ======================= -->

{% include 'dashboard/includes/messages.html' %}

<!-- ======================= -->
<!--       End Messages      -->
<!-- ======================= -->

{% if user.is_authenticated %}

<section class="container">
    <div class="row">
        <div class="col">
            <div class="my-5 py-5">
                <h1 class="text-center text-dark">Shopping Cart</h1>
            </div>
        </div>
    </div>

    {% if order.cart_products.exists %}

    <div class="row">
        <div class="col-md-12 px-5 text-dark">
            <p>Cart Details</p>
            <table>

                <tr>
                    <th class="px-5 text-center">Image</th>
                    <th class="px-5 text-center">Name</th>
                    <th class="px-5 text-center">Condition</th>
                    <th class="px-5 text-center">Price</th>
                    <th class="px-5 text-center">Quantity</th>
                    <th class="px-5 text-center">Final Price</th>
                    <th class="px-5 text-center">Delete</th>
                </tr>

                {% for cart in order.cart_products.all %}

                <tr>
                    {% if cart.product.image %}

                    <td class="px-5">
                        <a href="">
                            <img src="{{ cart.product.image.url }}" class="card-img-top img-fluid"
                                alt="Image {{ cart.product.title }}">
                        </a>
                    </td>

                    {% else %}

                    <td class="px-5">
                        <a href="">
                            <img src="{{ MEDIA_URL }}no-image-placeholder.webp" class="card-img-top img-fluid"
                                alt="Image {{ cart.product.title }}">
                        </a>
                    </td>

                    {% endif %}

                    <td class="px-5">{{ cart.product.title }}</td>

                    <td class="px-5">
                        {% if cart.product.product_status == 0 %}
                        <p class="card-text">New</p>
                        {% else %}
                        <p class="card-text">Used</p>
                        {% endif %}
                    </td>

                    <td class="px-5">
                        {% if cart.product.discounted_price %}

                        <p class="text-muted text-right">
                            {{ cart.product.discounted_price }} Euro
                        </p>

                        {% else %}

                        <p class="text-muted text-right">
                            {{ cart.product.price }} Euro
                        </p>

                        {% endif %}
                    </td>

                    <td class="px-5">
                        <!-- Form to remove Quantity -->
                        <form method="POST" action="{% url 'remove-quantity' cart.product.id %}" class="">
                            {% csrf_token %}
                            <button type="submit"><i class="fas fa-minus"></i></button>
                        </form>

                        <p class="text-muted">{{ cart.quantity }}</p>

                        <!-- Form to add Quantity -->
                        <form method="POST" action="{% url 'add-quantity' cart.product.id %}" class="">
                            {% csrf_token %}
                            <button type="submit"><i class="fas fa-plus"></i></button>
                        </form>
                    </td>

                    <td class="px-5">
                        <p class="text-muted text-right">
                            {{ cart.product_price }} Euro
                        </p>

                    </td>
                    <td class="px-5 text-center">
                        <form action="{% url 'remove-from-cart' cart.product.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-lg text-center">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>

                {% endfor %}

            </table>
        </div>
    </div>



    <form action="{% url 'checkout' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 text-dark">

                <!-- ====================== -->
                <!--    Shipping Address    -->
                <!-- ====================== -->

                <div id="div_id_shipping_address" class="my-5">
                    <label for="id_shipping_address" class="form-label text-dark fw-bold">
                        Shipping Address
                        <span class="asteriskField">*</span>
                    </label>
                    {% if shipping_address.exists %}
                    <select name="shipping_address" autofocus="True" class="select form-select" id="id_shipping_address"
                        required>
                        <option value="" selected="">---------</option>

                        {% for address in shipping_address %}

                        <option value="{{ address.id }}" class="text-black">
                            {{ address.shipping_name }} - {{ address.address_street }},
                            {{ address.apartment_number }} - {{ address.city }}
                        </option>

                        {% endfor %}

                    </select>

                    {% else %}

                    <span class="form-control border-2 border-danger text-danger fw-bold">
                        No Shipping Address Available! Click
                        <a href="{% url 'shipping-address-add' %}">
                            Shipping Address
                        </a>
                        here to register your Address!
                    </span>

                    {% endif %}
                </div>

                <!-- ====================== -->
                <!--  End Shipping Address  -->
                <!-- ====================== -->


                <p> Total Products: {{ total_products_cart }} </p>

                <p> Price Cart: {{ total_price_cart }}</p>

                <p> Delivery Cost: {{ delivery_cost }}</p>

            </div>
        </div>

        <button type="submit" class="btn btn-lg">Checkout</button>
    </form>

    {% else %}

    <div class="container">
        <div class="row">
            <div class="col-12 my-5">
                <h3 class="text-dark mb-5">No Item in your Cart!</h3>

                <a href="{% url 'all_products' %}" class="btn btn-dark rounded-3 btn-lg">
                    <span class="text-uppercase text-yellow">Go Shopping</span>
                </a>

            </div>
        </div>
    </div>

    {% endif %}

</section>

{% else %}
<section class="container mb-5">
    <div class="row">
        <div class="col">
            <div class="my-5 py-5">
                {% include 'dashboard/includes/auth-error.html' %}
            </div>
        </div>
    </div>
</section>

{% endif %}

{% endblock %}