<div class="container-fluid d-flex justify-content-start">
    <a class="navbar-brand" href="{% url 'homepage' %}">
        <h1 class="text-yellow display-4 ms-3 d-inline-block">Horizon Shop</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
        id="templatemo_main_nav">
        <div class="flex-fill">
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll nav d-flex justify-content-between mx-lg-auto"
                    style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active text-yellow" aria-current="page" href="#">
                            <div class="text-center text-uppercase">
                                <div>
                                    <i class="fas fa-home fa-lg"></i> Home
                                </div>

                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-yellow" href="#">
                            <div class="text-center text-uppercase">
                                <div>
                                    <i class="fas fa-headset fa-lg"></i> Contact Us
                                </div>

                            </div>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-yellow" href="#" id="navbarScrollingDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="text-center text-uppercase">
                                <div>
                                    <i class="fas fa-user fa-lg"></i> Profile
                                </div>

                            </div>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            {% if user.is_authenticated %}

                            <li><a class="dropdown-item" href="#">My Profile</a></li>
                            <li><a class="dropdown-item" href="#">My Order</a></li>
                            <li><a class="dropdown-item" href="#">My Wishlist</a></li>
                            <li><a class="dropdown-item" href="#">My Product</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>

                            {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Sign
                                    Up</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Sign
                                    In</a>
                            </li>

                            {% endif %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-yellow">
                            <div class="text-center text-uppercase">
                                <div>
                                    <i class="fas fa-shopping-cart fa-lg"></i> Cart
                                </div>

                            </div>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link text-yellow"
                            href="">
                            <div class="text-center text-yellow text-uppercase">
                                <div>
                                    <p class="my-0">
                                        {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                        {% else %}
                                        $0.00
                                        {% endif %}
                                    </p>
                                </div>
                        </a>
                    </li>
                </ul>
                <form class="d-flex" method="GET" action="">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-yellow" type="submit">
                        <span>
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>