{% load static %}

<header class="navbar navbar-expand-lg navbar-dark d-print-none">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="ms-2 navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a class="text-decoration-none" href="{% url 'homepage' %}">
                <h1 class="fs-1 text-decoration-none text-yellow">Horizon Shop</h1>
            </a>
        </h1>

        <div class="navbar-nav flex-row order-lg-last">
            <div class="nav-item d-none d-md-flex">
                <div class="btn-list">
                    <a class="btn btn-dark nav-link text-light {% if request.path == home %} border border-bottom border-yellow active text-yellow rounded-3{% endif %}"
                        aria-current="page" href="{% url 'homepage' %}" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" data-bs-title="Homepage">
                        <div class="fs-6 text-center mx-1 px-1">
                            <div>
                                <i class="fas fa-home fa-lg"></i> Home
                            </div>
                        </div>
                    </a>

                    <a class="nav-link text-light {% if 'contact-us' in request.path %} border border-bottom border-yellow active text-yellow rounded-3{% endif %}"
                        href="{% url 'contact_us' %}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        data-bs-title="Contact Us">
                        <div class="fs-6 text-center mx-1 px-1">
                            <div>
                                <i class="fas fa-headset fa-lg"></i> Contact Us
                            </div>
                        </div>
                    </a>

                    {% if user.is_authenticated %}
                    <a href="{% url 'products-wishlist' %}"
                        class="nav-link text-light {% if 'wishlist' in request.path %} border border-bottom border-yellow active text-yellow rounded-3{% endif %}"
                        data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Wishlist">
                        <div class="fs-6 text-center text-light mx-1 px-1">
                            <span class="badge badge-sm bg-red">{{ counter_wish_products }}</span>
                            <i class="fas fa-heart fa-lg"></i>
                        </div>
                    </a>
                    {% endif %}

                    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link text-light {% if 'cart' in request.path %} border border-bottom border-yellow active text-yellow rounded-3{% endif %}"
                        href="{% url 'cart' %}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        data-bs-title="Cart">
                        <span class="badge badge-sm bg-red">{{ total_products_cart }}</span>
                        <i class="fas fa-shopping-cart fa-lg me-2"></i>
                        <div class="fs-6 text-center">
                            <p class="m-auto d-none d-lg-block">
                                {% if total_price_cart %}
                                {{ total_price_cart|floatformat:2 }} Euro
                                {% else %}
                                0.00 Euro
                                {% endif %}
                            </p>
                        </div>
                    </a>

                </div>
            </div>
            <div class="nav-item dropdown mx-2">
                <div class="btn-list">

                    <a href="#" class="nav-link d-flex lh-1 text-reset mx-1" data-bs-toggle="dropdown"
                        aria-label="Open user menu">

                        {% if user.customer.avatar %}
                        <span class="avatar avatar-sm">
                            <img class="" src="{{ user.customer.avatar.url }}" alt="Client Avatar">
                        </span>
                        {% else %}
                        <span class="avatar bg-azure-lt">
                            <i class="fas fa-user text-yellow fa-lg"></i>
                        </span>
                        {% endif%}

                        {% if user.is_authenticated %}

                        <div class="d-none d-lg-block text-light ps-2">
                            <div>
                                {% if not user.first_name %}

                                Hi, {{ user }}!

                                {% else %}

                                Hi, {{ user.first_name }}!

                                {%endif%}
                            </div>
                            <div class="mt-1 small text-muted"></div>
                        </div>

                        {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'dashboard' %}">My Horizon Shop</a>
                        <a class="dropdown-item" href="{% url 'customer-update' %}">My Profile</a>
                        <a class="dropdown-item" href="{% url 'shipping-address-list' %}">My Addresses</a>
                        <a class="dropdown-item" href="{% url 'order-list' %}">My Orders</a>
                        <a class="dropdown-item" href="{% url 'products-list' %}">My Products</a>
                        <a class="dropdown-item" href="{% url 'products-wishlist' %}">My Wishlist</a>
                        <a class="dropdown-item" href="{% url 'testimonials-list' %}">My Testimonials</a>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>

                        {% else %}

                        <a class="dropdown-item" href="{% url 'account_signup' %}">
                            Sign Up
                        </a>

                        <a class="dropdown-item" href="{% url 'account_login' %}">
                            Sign In
                        </a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="navbar navbar-dark">
            <div class="container-fluid">
                <ul class="navbar-nav d-flex align-items-center">
                    <div class="sb-sidenav-menu-heading d-md-none fs-5 text-yellow">Website</div>
                    <hr class="w-25 mx-auto my-0 d-md-none text-yellow" style="height:2px;" />
                    <li class="nav-item d-md-none">
                        <a class="nav-link active text-light" aria-current="page" href="{% url 'homepage' %}">
                            <span class="nav-link-title">
                                <i class="fas fa-home fa-lg"></i> Home
                            </span>
                        </a>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link text-light" href="{% url 'contact_us' %}">
                            <span class="nav-link-title">
                                <i class="fas fa-headset fa-lg"></i> Contact Us
                            </span>
                        </a>
                    </li>

                    {% if user.is_authenticated %}
                    <li class="nav-item d-md-none">
                        <a href="{% url 'products-wishlist' %}" class="btn btn-dark nav-link text-light"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Wishlist">
                            <div class="fs-6 text-center text-light">
                                {% if user.is_authenticated %}
                                <span class="d-none badge badge-sm bg-red">{{ counter_wish_products }}</span>
                                {% endif %}
                                <i class="fas fa-heart fa-lg"></i>
                                Wishlist
                            </div>
                        </a>
                    </li>
                    {% endif %}

                    <li class="nav-item active d-md-none">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link text-light"
                            href="{% url 'cart' %}">
                            <span class="nav-link-title">
                                <i class="fas fa-shopping-cart fa-lg"></i>
                                {% if grand_total %}
                                ${{ grand_total|floatformat:2 }}
                                {% else %}
                                0.00 Euro
                                {% endif %}
                            </span>
                        </a>
                    </li>

                    <div class="sb-sidenav-menu-heading d-md-none fs-5 text-yellow mt-3">Search By</div>
                    <hr class="w-25 mx-auto my-0 d-md-none text-yellow" style="height:2px;" />
                    <li class="nav-item text-light">
                        <a class="nav-link text-light" href="{% url 'all_products' %}">
                            <span class="nav-link-title">
                                All Products
                            </span>
                        </a>
                    </li>
                    <li class="nav-item text-light">
                        <a class="nav-link text-light" href="{% url 'new_products' %}">
                            <span class="nav-link-title">
                                New Products
                            </span>
                        </a>
                    </li>
                    <li class="nav-item text-light">
                        <a class="nav-link text-light" href="{% url 'used_products' %}">
                            <span class="nav-link-title">
                                Used Products
                            </span>
                        </a>
                    </li>
                    <li class="nav-item dropdown text-light">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDarkDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="nav-link-title pe-2">
                                Categories
                            </span>
                        </a>
                        <div class="dropdown-menu">

                            {% for category in categories %}

                            <a class="dropdown-item" href="{{ category.get_absolute_url }}">
                                {{ category.name }}
                            </a>

                            {% endfor %}

                        </div>
                    </li>

                    <!-- <li class="nav-item dropdown text-light">
                        <a class="nav-link dropdown-toggle text-light" href="#navbar-fifth" data-bs-toggle="dropdown"
                            data-bs-auto-close="outside" role="button" aria-expanded="false">
                            <span class="nav-link-title">
                                Categories
                            </span>
                        </a>
                        <div class="dropdown-menu">
                            {% for category in categories %}
                            <a class="nav-link dropdown-toggle text-dark" href="#navbar-sixth" data-bs-toggle="dropdown"
                                data-bs-auto-close="outside" role="button" aria-expanded="false">
                                <span class="nav-link-title">
                                    {{ category.name }}
                                </span>
                            </a>

                            {% for subcategory in subcategories.category_set.all %}

                            <a class="dropdown-item" href="{{ subcategory.get_absolute_url }}">
                                {{ subcategory.name }}
                            </a>

                            {% endfor %}
                            {% endfor %}

                        </div>
                    </li> -->

                    <!-- ------------------------------------------ -->
                    <!-- New Drop-Down Sub-Categories in Categories -->
                    <!-- ------------------------------------------ -->
                    <li class="nav-item dropdown text-light">
                        <a class="nav-link dropdown-toggle text-light" href="#navbar-fouth"
                            id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <span class="nav-link-title pe-2">
                                Sub-Categories
                            </span>
                        </a>
                        <div class="dropdown-menu">

                            {% for subcategory in subcategories  %}

                            <a class="dropdown-item" href="{{ subcategory.get_absolute_url }}">
                                {{ subcategory.name }}
                            </a>

                            {% endfor %}

                        </div>
                    </li>

                    <!-- End Drop-Down Sub-Categories in Categories -->
                </ul>
                <div class="mx-3 my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-lg-last">
                    <form action="{% url 'all_products' %}" method="GET" autocomplete="off" novalidate="">
                        <div class="input-icon text-light border border-light rounded-3">
                            <span class="input-icon-addon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <circle cx="10" cy="10" r="7"></circle>
                                    <line x1="21" y1="21" x2="15" y2="15"></line>
                                </svg>
                            </span>
                            <input type="text" name="q" class="form-control rounded-3" placeholder="Search..."
                                aria-label="Search in website">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>