{% extends 'dashboard/base.html' %}

{% block extra_title %} - Delete Sub-Category{% endblock %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated and user.is_superuser %}

<div class="container text-dark">
    <h1 class="mt-4 text-center">Sub-Category</h1>
    <ol class="breadcrumb mx-auto d-flex justify-content-center mb-4">
        <li class="active">Delete Sub-Category: {{ subcategory.name }}</li>
    </ol>

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="card bg-dark rounded-3">
                    <form method="POST">
                        {% csrf_token%}
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header d-flex justify-content-center bg-yellow">
                                    <h1 class="fs-4 modal-title d-flex justify-content-center text-center text-dark"
                                        id="staticBackdropLabel">Are you sure?</h1>
                                </div>
                                <div class="fs-6 modal-body d-flex justify-content-center m-3 text-yellow text-center">
                                    <p>By Clicking <strong>Delete</strong> the Sub-Category will be deleted and you will
                                        be redirected to the previous page!
                                    </p>
                                </div>
                                <div class="modal-footer m-3">
                                    <a href="{% url 'subcategory-list' %}"
                                        class="m-2 btn btn-sm-minwidth btn-primary rounded-3" aria-label="Back">Back
                                    </a>
                                    <button type="submit"
                                        class="m-2 btn btn-sm-minwidth btn-danger rounded-3">Delete</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

{% include 'dashboard/includes/auth-error.html' %}

{% endif %}

{% endblock %}