{% extends 'dashboard/base.html' %}

{% block extra_title %} - Delete Sub-Category{% endblock %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

{% if user.is_superuser %}
{% if user.is_authenticated %}

<div class="container text-dark">
    <h1 class="mt-4 text-center">Sub-Category</h1>
    <ol class="breadcrumb mx-auto d-flex justify-content-center mb-4">
        <li class="active">Delete Sub*Category: {{ subcategory.name }}</li>
    </ol>

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="card rounded-3">
                    <form method="POST">
                        {% csrf_token%}
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header m-3">
                                    <h1 class="modal-title text-center fs-5" id="staticBackdropLabel">Are you sure?</h1>
                                </div>
                                <div class="modal-body m-3">
                                    By Clicking Confirm the Sub-Category will be deleted and you will be redirected
                                    to the previous page!
                                </div>
                                <div class="modal-footer m-3">
                                    <a href="{% url 'category-list' %}"
                                        class="my-2 btn btn-minwidth btn-outline-primary rounded-3"
                                        aria-label="Back">Back
                                    </a>
                                    <button type="submit"
                                        class="my-2 btn btn-minwidth btn-outline-danger rounded-3">Delete</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

{% include 'dashboard/includes/auth-error.html' %}

{% endif %}
{% endif %}

{% endblock %}