{% extends "account/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block extra_title %} - Confirm E-mail Address{% endblock %}

{% load i18n %}

{% load account socialaccount %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block content %}

<section class="d-flex flex-column theme-light">
    <div class="page page-center my-4">
        <div class="container container-tight py-4">
            <div class="text-center text-dark mb-4">
                <a href="{% url 'homepage' %}" class="navbar-brand navbar-brand-autodark">
                    <h1>Horizon Shop</h1>
                </a>
            </div>
            <div class="card bg-dark rounded-3 p-1 py-3">
                <div class="card-body">
                    <h2 class="h2 text-center text-yellow mb-4">{% trans "Confirm E-mail Address" %}</h2>

                    {% if confirmation %}

                    {% user_display confirmation.email_address.user as user_display %}

                    <p class="text-light">
                        {% blocktrans with confirmation.email_address.email as email %}Please confirm that <a
                            href="mailto:{{ email }}" class="text-yellow">{{ email }}</a> is an e-mail address for user
                        {{ user_display }}.{% endblocktrans %}</p>

                    <form method="POST" action="{% url 'account_confirm_email' confirmation.key %}"
                        class="signup text-yellow">
                        {% csrf_token %}
                        <button type="submit"
                            class="btn btn-yellow text-dark w-100 primaryAction rounded-3">{% trans 'Confirm' %}</button>
                    </form>

                    {% else %}

                    {% url 'account_email' as email_url %}

                    <p class="text-light">{% blocktrans %}
                        This e-mail confirmation link expired or is invalid. Please
                        <a href="{{ email_url }}" class="text-yellow">
                            issue a new e-mail confirmation request
                        </a>.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% endblock %}