{% extends "dashboard/base.html" %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}
<div class="wrapper">
    <main class="content">
        <div class="main-content">

            <div class="page-content">
                <div class="container">

                    <div class="row">
                        <div class="col-12">
                            <h2 class="fs-1 mt-4 text-center">My Horizon Shop</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card overflow-hidden rounded-3 mb-4">
                                <div class="bg-dark">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="text-yellow p-3">
                                                <h5 class="fs-4 text-yellow">Welcome Back!</h5>
                                                <p class="fs-6">
                                                    {% if not user.first_name %}

                                                    {{ user }} Dashboard!

                                                    {% else %}

                                                    {{ user.first_name }} Dashboard

                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="avatar-md profile-user-wid mb-2 d-flex align-self-center mt-2">
                                                {% if user.customer.avatar %}
                                                <img src="{{ user.customer.avatar.url }}" alt="Avatar {{ user }}"
                                                    class="img-thumbnail rounded-circle" width="150" height="150">
                                                {% else %}

                                                {% endif %}
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <h1 class="fs2">
                                                        {% if not user.first_name %}

                                                        {{ user }}

                                                        {% else %}

                                                        {{ user.first_name }} {{ user.last_name }}

                                                        {% endif %}
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-8">
                                            <div class="pt-2">
                                                <a href="{% url 'customer-update' %}"
                                                    class="btn btn-dark text-yellow">View
                                                    Profile <i class="mdi mdi-arrow-right ms-1"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-3">
                            <div class="card bg-yellow mb-4 rounded-3">
                                <div class="card-body fw-bold fs-5">Orders:
                                    <span class="ms-2">
                                        {% if orders %} {{ orders.count }} {% else %} 0 {% endif %}
                                    </span>
                                </div>

                                <div class="card-footer bg-dark d-flex align-items-center justify-content-between">
                                    <a class="text-yellow stretched-link" href="{% url 'order-list' %}">
                                        View Orders
                                    </a>
                                    <div class="text-yellow"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-3">
                            <div class="card bg-success mb-4 rounded-3">

                                <div class="card-body fw-bold fs-5">Products:
                                    <span class="ms-2">
                                        {% if products %} {{ products }} {% else %} 0 {% endif %}
                                    </span>
                                </div>
                                <div class="card-footer bg-dark d-flex align-items-center justify-content-between">
                                    <a class="text-yellow stretched-link" href="{% url 'products-list' %}">
                                        View
                                        Products
                                    </a>
                                    <div class="text-yellow"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-3">
                            <div class="card bg-danger mb-4 rounded-3">
                                <div class="card-body fw-bold fs-5">Addresses:
                                    <span class="ms-2">
                                        {{ addresses }}
                                    </span>
                                </div>
                                <div class="card-footer bg-dark d-flex align-items-center justify-content-between">
                                    <a class="text-yellow stretched-link" href="{% url 'shipping-address-list' %}">
                                        View
                                        Addresses
                                    </a>
                                    <div class="text-yellow"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-3">
                            <div class="card bg-info mb-4 rounded-3">
                                <div class="card-body fw-bold fs-5">Testimonials:
                                    <span class="ms-2">
                                        {% if testimonials %} {{ testimonials }} {% else %} 0 {% endif %}
                                    </span>
                                </div>
                                <div class="card-footer bg-dark d-flex align-items-center justify-content-between">
                                    <a class="text-yellow stretched-link" href="{% url 'testimonials-list' %}">
                                        View
                                        Testimonials
                                    </a>
                                    <div class="text-yellow"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card rounded-3">
                                <div class="card-body">
                                    <h4 class="card-title mb-4 fs-4">Latest Transaction</h4>
                                    <div class="table-responsive rounded-bottom">

                                        {% if orders %}

                                        <table class="table table-vcenter table-mobile-xl card-table">
                                            <thead>
                                                <tr>
                                                    <th class="bg-dark text-yellow">Order Number</th>
                                                    <th class="bg-dark text-yellow">Order Date</th>
                                                    {% if user.is_superuser %}
                                                    <th class="bg-dark text-yellow">Customer</th>
                                                    {% endif %}
                                                    <th class="bg-dark text-yellow">Quantity</th>
                                                    <th class="bg-dark text-yellow">Price</th>
                                                    <th class="bg-dark text-yellow">View Details</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                {% for order in orders %}
                                                <tr>
                                                    <td data-label="Order Number">
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-fill">
                                                                <div class="font-weight-medium">
                                                                    {{ order.order_number }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>


                                                    <td data-label="Order Date">
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-fill">
                                                                <div class="font-weight-medium">
                                                                    {{ order.created_at }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>

                                                    {% if user.is_superuser %}
                                                    <td data-label="Order Date">
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-fill">
                                                                <div class="font-weight-medium">
                                                                    {{ order.created_by }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    {% endif %}


                                                    <td data-label="Quantity">
                                                        <div class="d-flex py-1 align-items-center">
                                                            <div class="flex-fill">
                                                                <div class="font-weight-medium">
                                                                    {{ order.quantity_products }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td data-label="Price">
                                                        <div class="d-flex py-1 align-items-center">
                                                            <div class="flex-fill">
                                                                <div class="font-weight-medium">
                                                                    {{ order.total_price }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <a href="{% url 'order-details' order.pk %}"
                                                            class="btn btn-dark btn-sm btn-rounded text-yellow rounded-3">
                                                            View Details
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                        {% else %}

                                        <table class="table table-vcenter card-table">
                                            <thead>
                                                <tr>
                                                    <th class="bg-dark text-yellow">Orders</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="bg-yellow">
                                                    <td data-label="Orders">
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-fill">
                                                                <div class="fw-bold">
                                                                    <h2>No Orders!</h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endif %}

{% endblock %}