{% extends 'dashboard/base.html' %}

{% block extra_title %} - My Orders{% endblock %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

<div class="container text-dark">
    {% if user.is_superuser %}
    <h1 class="mt-4 text-center">Order Administrator</h1>
    <ol class="breadcrumb mb-4 mx-auto d-flex justify-content-center">
        <li class="active">Review the information of all the orders!</li>
    </ol>
    {% else %}
    <h1 class="mt-4 text-center">Order List</h1>
    <ol class="breadcrumb mb-4 mx-auto d-flex justify-content-center">
        <li class="active">Review the information of your orders!</li>
    </ol>
    {% endif %}

    <div class="row d-flex align-items-center mt-5">
        <div class="list-group">

            {% if order_list %}

            {% for order in order_list %}
            <div class="col-12">
                <div
                    class="p-3 my-3 alert alert-dark list-group-item list-group-item-action flex-column align-items-start rounded-3 shadow-lg">
                    <div class="d-flex w-100 justify-content-between">
                        <h3>
                            <strong>Order:</strong>
                            <a href="{% url 'order-details' order.id %}" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" data-bs-title="{{ order.order_number }}">
                                {{ order.order_number|truncatechars:12 }}
                            </a>
                        </h3>
                        <p>
                            {% if order.billed %}
                            <span class="badge bg-success text-dark rounded-3 p-2">Order Completed</span>
                            {% else %}
                            <span class="badge bg-danger text-dark p-2">Order Not Completed</span>
                            {% endif %}
                        </p>

                    </div>

                    {% if user.is_superuser %}
                    <p class="mb-1"><strong>Created By:</strong> {{ order.created_by }}</p>
                    <p class="mb-1"><strong>Created Date:</strong> {{ order.created_at}}</p>
                    {% else %}
                    <p class="mb-1"><strong>Created Date:</strong> {{ order.created_at}}</p>
                    {% endif %}

                    <p class="mb-1"><strong>Quantity of Items:</strong> {{ order.quantity_products }}</p>
                    <p class="mb-1"><strong>Total Price:</strong> {{ order.total_price }} Euro</p>


                    <a class="btn btn-sm-minwidth btn-outline-primary rounded-3 mt-3"
                        href="{% url 'order-details' order.pk %}" aria-label="Details">Details</a>
                </div>
            </div>

            {% endfor %}

            {% else %}

            <div class="container my-5">
                <div class="row bg-yellow rounded-3 my-5">
                    <div class="col-10 offset-1">
                        <div class="single-service p-5">
                            <h2>No Orders!</h2>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}

        </div>
    </div>
</div>

{% if order_list %}

{% if is_paginated %}
<div class="container">
    <div class="row my-4">
        <div class="col d-flex justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">

                    {% if page_obj.has_previous %}
                    <li class="page-item btn btn-dark bg-dark rounded-3">
                        <a class="page-link pagination-buttons btn btn-dark bg-dark text-yellow"
                            href="/dashboard/order/list?page={{ page_obj.previous_page_number }}">
                            &laquo;
                            Previous
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled btn btn-dark bg-dark rounded-3">
                        <a class="page-link pagination-buttons btn btn-dark bg-dark text-yellow" href="">
                            &laquo;
                            Previous
                        </a>
                    </li>
                    {% endif %}

                    <li class="page-item disabled btn btn-dark bg-dark rounded-3 mx-4">
                        <span class="page-link text-yellow btn btn-dark bg-dark text-yellow">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </span>
                    </li>

                    {% if page_obj.has_next %}
                    <li class="page-item btn btn-dark bg-dark rounded-3">
                        <a class="page-link pagination-buttons btn btn-dark bg-dark text-yellow"
                            href="/dashboard/order/list?page={{ page_obj.next_page_number }}">
                            Next
                            &raquo;
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled btn btn-dark bg-dark rounded-3">
                        <a class="page-link pagination-buttons btn btn-dark bg-dark text-yellow" href="">
                            Next
                            &raquo;
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

{% endif %}

{% endif %}

{% else %}

{% include 'dashboard/includes/auth-error.html' %}

{% endif %}

{% endblock %}