{% extends 'dashboard/base.html' %}

{% block extra_title %} - My Orders{% endblock %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

<!-- ======================= -->
<!--         Messages        -->
<!-- ======================= -->
{% include 'dashboard/includes/messages.html' %}


<div class="container text-dark">
    {% if user.is_superuser %}
    <h1 class="mt-4 text-center">Order Administrator</h1>
    {% else %}
    <h1 class="mt-4 text-center">Order List</h1>
    {% endif %}
    <ol class="breadcrumb mb-4 mx-auto d-flex justify-content-center">
        <li class="active">Review the information of your orders!</li>
    </ol>

    <div class="row d-flex align-items-center mt-5">
        <div class="list-group">

            {% for order in order_list %}
            <div class="col-12">
                <div
                    class="p-3 my-3 alert alert-dark list-group-item list-group-item-action flex-column align-items-start rounded-3 shadow-lg">
                    <div class="d-flex w-100 justify-content-between">
                        <h3>
                            <strong>Order:</strong>
                            <a href="{% url 'order-details' order.id %}" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" data-bs-title="{{ order.order_number }}">
                                {{ order.order_number|truncatechars:12 }}
                            </a>
                        </h3>
                        <small>{{ order.created_at}}</small>
                    </div>
                    <p class="mb-1"><strong>Total Price:</strong> {{ order.total_price }} Euro</p>
                    <p class="mb-1"><strong>Quantity of Items:</strong> {{ order.quantity_products }}</p>
                    <p class="my-3">
                        {% if order.billed %}
                        <span class="badge bg-success text-dark rounded-3 p-2">Order Completed</span>
                        {% else %}
                        <span class="badge bg-danger text-dark p-2">Order Not Completed</span>
                        {% endif %}
                    </p>

                    <a class="btn btn-sm-minwidth btn-outline-info rounded-3 mt-3"
                        href="{% url 'order-details' order.pk %}" aria-label="Details">Details</a>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>

{% else %}

{% include 'dashboard/includes/auth-error.html' %}

{% endif %}

{% endblock %}