{% extends 'dashboard/base.html' %}

{% block extra_title %} - Dashboard{% endblock %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}


<!-- ======================= -->
<!--         Messages        -->
<!-- ======================= -->

{% include 'dashboard/includes/messages.html' %}

<!-- ======================= -->
<!--       End Messages      -->
<!-- ======================= -->

<div class="container text-dark">

    <h1 class="mt-4 text-center">Wishlist</h1>

    <ol class="breadcrumb mb-4 mx-auto d-flex justify-content-center">
        <li class="active">Your Wishlist!</li>
    </ol>

    <div class="row d-flex align-items-center">

        {% for wish in wishlist %}

        <div class="col-12 col-md-4 col-lg-3">
            <div class="card" style="width: 18rem;">

                <div class="type-lb">
                    {% if wish.product.product_status == 0 %}
                    <p class="sale">New</p>
                    {% else %}
                    <p class="sale">Used</p>
                    {% endif %}
                </div>

                {% if wish.product.image %}

                <a href="">
                    <img src="{{ wish.product.image.url }}" class="card-img-top img-fluid"
                        alt="Image {{ wish.product.title }}">
                </a>

                {% else %}

                <a href="">
                    <img src="{{ MEDIA_URL }}noimage.jpg" class="card-img-top img-fluid"
                        alt="Image {{ wish.product.title }}">
                </a>

                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ wish.product.title }}</h5>

                    {% if wish.product.is_deleted %}
                    <p class="card-text">Product Deleted!</p>

                    {% else %}

                    {% if wish.product.product_status == 0 %}
                    <p class="card-text">Condition: New</p>
                    {% else %}
                    <p class="card-text">Condition: Used</p>
                    {% endif %}

                    {% endif %}

                    <p class="card-text">Brand: {{ wish.product.brand }}</p>

                    {% if wish.product.productrating.rating_stars %}
                    <p class="card-text">{{ wish.product.rating }}</p>
                    {% else %}
                    <p class="card-text">No Rating</p>
                    {% endif %}


                    <p class="card-text">Price: {{ wish.product.price }} Euro</p>


                    <form action="{% url 'remove-from-wishlist' wish.product.id %}" method="POST">
                        {% csrf_token %}

                        <input type="submit" class="btn btn-lg" value="Delete">

                    </form>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>


{% else %}

{% include 'dashboard/includes/auth-error.html' %}

{% endif %}

{% endblock %}