{% extends 'dashboard/base.html' %}

{% block extra_title %} - Dashboard{% endblock %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

<!-- ======================= -->
<!--         Messages        -->
<!-- ======================= -->

{% include 'dashboard/includes/messages.html' %}

<!-- ======================= -->
<!--       End Messages      -->
<!-- ======================= -->

<div class="container text-dark">

    <h1 class="mt-4 text-center">Wishlist</h1>

    <ol class="breadcrumb mb-4 mx-auto d-flex justify-content-center">
        <li class="active">Your Wishlist!</li>
    </ol>

    <div class="row d-flex align-items-center">

        {% for wish in wishlist %}

        <div class="col-12 offset-sm-2 col-sm-8 offset-md-0 col-md-6 col-lg-6 col-xl-4 col-xxl-3 mb-4">
            <div class="card h-100 py-2 px-2 rounded-3 shadow-lg">

                <div class="type-lb">
                    {% if wish.product.product_status == 0 %}
                    <p class="new">New</p>
                    {% else %}
                    <p class="sale">Used</p>
                    {% endif %}
                </div>

                {% if wish.product.image %}

                <a href="{% url 'product_details' wish.product.slug %}">
                    <img src="{{ wish.product.image.url }}" class="img-fluid img-card-products rounded-3"
                        alt="Image {{ wish.product.title }}">
                </a>

                {% else %}

                <a href="{% url 'product_details' wish.product.slug %}">
                    <img src="{{ MEDIA_URL }}no-image-placeholder.png" class="img-fluid img-card-products rounded-3"
                        alt="Image {{ wish.product.title }}">
                </a>

                {% endif %}

                <div class="card-body product-card">
                    <h3 class="card-title">
                        <a href="{% url 'product_details' wish.product.slug %}"
                            class="text-decoration-none text-dark mb-3" data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-title="{{ wish.product.title }}">
                            {{ wish.product.title|truncatechars:15 }}
                        </a>
                    </h3>

                    {% if wish.product.is_deleted %}
                    <div class="mb-2">
                        <span class="badge bg-danger">Out Of Stock</span>
                    </div>

                    {% else %}

                    {% if wish.product.product_status == 0 %}
                    <p class="card-text">Condition: New</p>
                    {% else %}
                    <p class="card-text">Condition: Used</p>
                    {% endif %}

                    <p class="card-text">Brand: {{ wish.product.brand }}</p>

                    <ul class="list-unstyled d-flex justify-content-between">
                        {% if wish.product.get_avg_rating %}
                        <li>
                            {% with ''|center:wish.product.get_avg_rating as range %}
                            {% for i in range %}
                            <i class="fas fa-star text-yellow"></i>
                            {% endfor %}
                            {% endwith %}
                        </li>
                        {% else %}
                        <li> No Rating </li>
                        {% endif %}

                        <div>

                            {% if wish.product.discounted_price %}

                            <li class="text-dark text-right">
                                {{ wish.product.discounted_price }} Euro
                            </li>

                            <li class="text-muted text-right">
                                <span>
                                    <del>{{ wish.product.price }} Euro</del>
                                </span>
                            </li>

                            {% else %}

                            <li class="text-dark text-right mb-3">{{ wish.product.price }} Euro</li>

                            {% endif %}
                        </div>
                    </ul>

                    {% endif %}

                    <form action="{% url 'remove-from-wishlist' wish.product.id %}" method="POST">
                        {% csrf_token %}

                        <button type="submit" class="my-2 btn btn-yellow btn-sm-minwidth text-dark rounded-3"
                            value="Remove" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            data-bs-title="Remove from Wishlist">
                            Remove
                        </button>
                    </form>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>

{% else %}

{% include 'dashboard/includes/auth-error.html' %}

{% endif %}

{% endblock %}