{% extends 'dashboard/base.html' %}

{% block extra_title %} - List Deleted Products{% endblock %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

{% if user.is_superuser%}

<div class="container text-dark">

    <h1 class="mt-4 text-center">List Deleted Products</h1>

    <ol class="breadcrumb mb-4 mx-auto d-flex justify-content-center">
        <li class="active">Restore a deleted Product!</li>
    </ol>

    <div class="row d-flex align-items-center mt-5">
        {% if product_list %}

        {% for product in product_list %}

        <!-- ======================= -->
        <!--         Products        -->
        <!-- ======================= -->
        {% include 'dashboard/includes/product.html' %}

        {% endfor %}

        {% else %}

        <div class="container my-5">
            <div class="row bg-yellow rounded-3 my-5">
                <div class="col-10 offset-1">
                    <div class="single-service p-5">
                        <h2>No Deleted Products Available!</h2>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}

    </div>
</div>
{% endif %}

{% else %}

{% include 'dashboard/includes/auth-error.html' %}

{% endif %}

{% endblock %}