{% extends "base.html" %}

{% load static %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col">
            <div class="my-5 py-5">
                <h1 class="text-center text-dark">All Products List</h1>

                <!-- Product Sorting -->
                {% include 'products/includes/products-sorting.html' %}

                <div class="row d-flex align-items-center mt-5">

                    {% for product in products %}

                    {% include 'products/includes/products.html' %}

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}