{% extends "base.html" %}

{% load static %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col">
            <div class="my-5 py-5">
                <h1 class="text-center text-yellow">All Products List</h1>

                <!-- Product Sorting -->
                {% include 'products/includes/products-sorting.html' %}

                <ol class="breadcrumb mb-4">
                    <li class="active">All Products: </li>
                </ol>

                <div class="row d-flex align-items-center">

                    {% for product in products %}

                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="card" style="width: 18rem;">

                            <div class="type-lb">
                                {% if product.product_status == 0 %}
                                <p class="sale">New</p>
                                {% else %}
                                <p class="sale">Used</p>
                                {% endif %}
                            </div>

                            {% if product.image %}

                            <a href="{% url 'product_details' product.slug %}">
                                <img src="{{ product.image.url }}" class="card-img-top img-fluid"
                                    alt="Image {{ product.title }}">
                            </a>

                            {% else %}

                            <a href="{% url 'product_details' product.slug %}">
                                <img src="{{ MEDIA_URL }}noimage.jpg" class="card-img-top img-fluid"
                                    alt="Image {{ product.title }}">
                            </a>

                            {% endif %}

                            <div class="card-body">
                                <h5 class="card-title">{{ product.title }}</h5>

                                {% if product.product_status == 0 %}
                                <p class="card-text">Condition: New</p>
                                {% else %}
                                <p class="card-text">Condition: Used</p>
                                {% endif %}

                                <p class="card-text">Brand: {{ product.brand }}</p>

                                {% if product.productrating.rating_stars %}
                                <p class="card-text">{{ product.rating }}</p>
                                {% else %}
                                <p class="card-text">No Rating</p>
                                {% endif %}

                                <p class="card-text">Description: {{ product.description }}</p>
                                <p class="card-text">Price: {{ product.price }} Euro</p>

                                <a href="#" class="btn btn-primary">Add to Backet</a>
                                <a href="#" class="btn btn-primary">Add to Wishlist</a>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}