{% extends "base.html" %}

{% load static %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col">
            <div class="my-5 py-5">
                <h1 class="text-center text-yellow">New Products List</h1>

                <ol class="breadcrumb mb-4">
                    <li class="active">All new Products: </li>
                </ol>

                <div class="row d-flex align-items-center">
                    <div class="col-12 col-md-4 col-lg-3">
                        {% for product in products %}

                        <div class="card" style="width: 18rem;">
                            <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.title }}</h5>
                                <p class="card-text">{{ product.description }}</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}