{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block extra_title %} {{ product.title }} {% endblock %}

{% block content %}

<!-- Product Details Section -->
<section class="container my-5 py-5">
    <div class="row">
        <div class="col-12 col-md-5 order-md-first bg-light">
            {% if product.image %}

            <a href="">
                <img src="{{ product.image.url }}" class="card-img-top img-fluid mx-auto d-block"
                    alt="Image {{ product.title }}">
            </a>

            {% else %}

            <a href="">
                <img src="{{ MEDIA_URL }}noimage.webp" class="card-img-top img-fluid" alt="Image {{ product.title }}">
            </a>

            {% endif %}
        </div>
        <div class="col-12 col-md-7 ps-md-3 ps-lg-5">
            <h1 class="mb-0 h3">Title: {{ product.title }}</h1>
            <p><span class="lead">Created by: {{ product.created_by }}</span></p>
            <p>{{ product.description|slice:":500" }}...</p>
            <div class="container">
                <div class="row d-flex flex-column py-3">
                    <div class="col-12">
                        <span class="h3 fw-bold">Price: {{ product.price }} Euro</span>
                    </div>
                    <div class="col-12">
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                        <a href="#" class="btn btn-primary">Add to Wishlist</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Product Rating -->
{% if user.is_authenticated %}
{% if user_rated %}

<h1> Thanks for having rated this product!</h1>

{% else %}
<section class="container my-2 py-2">
    <div class="row">
        <div class="col-12">
            <div class="card rounded-3">
                <div class="card-body p-4">
                    <div class="d-flex flex-start w-100">
                        <form method="POST">
                            <div class="form-radio-hidden fs-5 text-yellow">
                                {% csrf_token%}
                                {{ rating_form|crispy }}
                            </div>
                            <h5 class=" fs-5 text-dark">How much do you rate this product?</h5>
                            <p class="text-muted">Only one rating per product/customer is allowed!</p>
                            <div class="row">
                                <div class="col">
                                    <div class="rating">
                                        <input type="submit" id="id_rating_stars_4" name="rating_stars" value="5"
                                            required><label for="id_rating_stars_4" title="Excellent">5
                                            stars</label>
                                        <input type="submit" id="id_rating_stars_3" name="rating_stars" value="4"
                                            required><label for="id_rating_stars_3" title="Good">4 stars</label>
                                        <input type="submit" id="id_rating_stars_2" name="rating_stars" value="3"
                                            required><label for="id_rating_stars_2" title="OK">3 stars</label>
                                        <input type="submit" id="id_rating_stars_1" name="rating_stars" value="2"
                                            required><label for="id_rating_stars_1" title="Poor">2 stars</label>
                                        <input type="submit" id="id_rating_stars_0" name="rating_stars" value="1"
                                            required><label for="id_rating_stars_0" title="Bad">1 star</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% else %}
No Form
{% endif %}



<!-- Product Comments Section -->
<section class="container my-5 py-5">
    <div class="row">
        <div class="col-12 bg-light">

            {% if user.is_authenticated %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm-minwidth btn-yellow text-dark rounded-3" data-bs-toggle="modal"
                data-bs-target="#commentModal">
                Leave a Comment!
            </button>
            {% endif %}

            <h3>Comments:</h3>
            <div class="card-body">
                {% for c in comments %}
                <div class="border text-dark">
                    <p class="fw-bold">
                        Customer: {{ c.commented_by.username }}
                        <br>
                        <span class="fw-bold text-muted">
                            On Date: {{ c.commented_date }}
                        </span>
                    </p>
                    Comment:
                    {{ c.comment | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
</section>



<!-- Comment Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="commentModalLabel">Leave a comment or a review!!!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST">
                {% csrf_token %}

                {% if user.is_authenticated %}
                <div class="modal-body">
                    <h3>Leave your comment/review here:</h3>

                    {{ comments_form | crispy }}


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </div>

                {% else %}

                <h3 class="text-center text-dark">
                    Sorry! You don't have the authorization to leave a comment!
                    Please Sign In to leave a comment!!!
                </h3>

                {% endif %}
            </form>
        </div>
    </div>
</div>


{% endblock %}