{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block extra_title %} - {{ product.title }} {% endblock %}

{% block content %}

<!-- ======================== -->
<!-- Product Details Section -->
<!-- ======================== -->
<div class="container">
    <div class="row">
        <div class="col m-4 m-lg-5">

        </div>
    </div>
</div>

<section class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="fs-4">{{ product.title }}</h2>
        </div>
    </div>
    <div class="row">
        <div
            class="col-10 offset-1 offset-md-0 col-md-6 col-lg-4 order-md-first border border-dark bg-light rounded-3 py-2 mb-2">
            {% if product.image %}

            <a href="{% url 'product_details' product.slug %}">
                <img src="{{ product.image.url }}" class="img-fluid img-card-products rounded-3"
                    alt="Image {{ product.title }}">
            </a>

            {% else %}

            <a href="{% url 'product_details' product.slug %}">
                <img src="{% static 'images/no-image-placeholder.png' %}" class="img-fluid img-card-products rounded-3"
                    alt="Image {{ product.title }}">
            </a>

            {% endif %}
        </div>
        <div class="col-12 col-md-6 col-lg-8 ps-md-3 ps-lg-5">
            {% if product.product_status == 0 %}
            <p>
                <span class="lead"><strong>Sold by:</strong> <i>Horizon Shop</i></span>
            </p>
            <p>
                <span class="lead"><strong>Delivered by:</strong> <i>Horizon Shop</i></span>
            </p>
            {% else %}
            <p>
                <span class="lead"><strong>Sold by:</strong> <i>{{ product.created_by }}</i></span>
            </p>
            <p>
                <span class="lead"><strong>Delivered by:</strong> <i>Horizon Shop</i></span>
            </p>
            {% endif%}

            <div class="mb-3">
                <strong>Category:</strong> <span class="badge bg-secondary">{{ product.category }}</span>
            </div>


            <p><strong>About This Products:</strong></p>
            <p>{{ product.description|truncatechars:800 }}</p>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="pt-3">
                <ul class="list-unstyled">
                    {% if product.get_avg_rating %}

                    <li>
                        <strong>Rating Product:</strong>
                        {% with ''|center:product.get_avg_rating as range %}
                        {% for i in range %}
                        <i class="fas fa-star text-yellow"></i>
                        {% endfor %}
                        {% endwith %}
                    </li>
                    {% else %}
                    <li> No Rating </li>
                    {% endif %}

                </ul>
            </div>
            <div class="col-12 pb-3">
                <ul class="list-unstyled">
                    {% if product.discounted_price %}
                    <li class="fs-5 text-dark text-right">
                        <strong>Sale Price:</strong>
                        {{ product.discounted_price }} Euro
                    </li>

                    <li class="fs-5 text-muted text-right">
                        <span>
                            <strong>Price:</strong>
                            <del>{{ product.price }} Euro</del>
                        </span>
                    </li>

                    {% else %}

                    <li class="fs-4 text-dark text-right mb-3">
                        <strong>Price:</strong> {{ product.price }} Euro</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <form action="{% url 'add-to-wishlist' product.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="redirect_url" value="{{ request.path }}">

                <button type="submit" class="wish btn btn-sm-minwidth btn-primary rounded-3 text-light"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Add to Wishlist">
                    Add to Wishlist
                </button>
            </form>

            <form action="{% url 'add-to-cart' product.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="cart btn btn-sm-minwidth btn-yellow rounded-3 text-dark"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Add to Cart">
                    Add to Cart
                </button>
            </form>
        </div>
    </div>
    {% endif %}

</section>

<!-- ======================== -->
<!--      Product Rating      -->
<!-- ======================== -->
<section class="container">

    {% if user.is_authenticated %}
    {% if user_rated %}

    <div class="row">
        <div class="col-12 mt-4 mb-2">
            <div class="card bg-dark">
                <div class="card-body p-3">
                    <div class="text-yellow">
                        <h2> Thanks for having rated this product!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% else %}

    <div class="row">
        <div class="col-12 mt-4 mb-2">
            <div class="card bg-dark">
                <div class="card-body p-3">
                    <div class="d-flex flex-start w-100">
                        <form method="POST">
                            <div class="form-radio-hidden fs-5 text-yellow">
                                {% csrf_token%}
                                {{ rating_form|crispy }}
                            </div>
                            <h2 class=" fs-5 text-yellow">How much do you rate this product?</h2>
                            <p class="text-muted text-yellow">Only one rating per product/customer is allowed!</p>
                            <div class="row">
                                <div class="col">
                                    <div class="rating">
                                        <input type="submit" id="id_rating_stars_4" name="rating_stars" value="5">
                                        <label for="id_rating_stars_4" title="Excellent">
                                            5 stars
                                        </label>
                                        <input type="submit" id="id_rating_stars_3" name="rating_stars" value="4">
                                        <label for="id_rating_stars_3" title="Good">
                                            4 stars
                                        </label>
                                        <input type="submit" id="id_rating_stars_2" name="rating_stars" value="3">
                                        <label for="id_rating_stars_2" title="OK">
                                            3 stars
                                        </label>
                                        <input type="submit" id="id_rating_stars_1" name="rating_stars" value="2">
                                        <label for="id_rating_stars_1" title="Poor">
                                            2 stars
                                        </label>
                                        <input type="submit" id="id_rating_stars_0" name="rating_stars" value="1">
                                        <label for="id_rating_stars_0" title="Bad">
                                            1 star
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

    {% else %}
    <div class="row">
        <div class="col-12 mt-4 mb-2">
            <div class="card bg-dark">
                <div class="card-body p-3">
                    <div class="d-flex flex-start w-100">
                        <h2 class="text-yellow"> Do you want to rate this products?
                            <strong class="text-green">
                                <i>Sign Up TODAY</i>
                            </strong>
                            for <strong class="text-green">
                                <i>FREE</i>
                            </strong>
                            and join milions of happy
                            <strong class="text-green">
                                <i>Horizon Shop</i>
                            </strong>
                            customers and have the possibility to Buy, Rate and Commment/Review
                            <strong class="text-green">
                                <i>Products</i>
                            </strong>!
                        </h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>

<!-- ======================== -->
<!-- Product Comments Section -->
<!-- ======================== -->
<section class="container mt-3 mb-5">
    <div class="row">
        <div class="col-12 rounded-3">

            {% if user.is_authenticated %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm-minwidth btn-yellow text-dark rounded-3 my-3" data-bs-toggle="modal"
                data-bs-target="#commentModal">
                Leave a Comment!
            </button>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h2>Comments Section:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-body ">
                {% for c in comments %}
                <div class="text-dark border border-3 border-dark rounded-3 p-3 m-2">
                    <p>
                        <strong>Customer:</strong> {{ c.commented_by.username }}
                        <br>
                        <span class="text-dark">
                            <strong>On Date:</strong> {{ c.commented_date }}
                        </span>
                    </p>
                    <p>
                        Comment: {{ c.comment  }}
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- Comment Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered rounded-3">
        <div class="modal-content rounded-3 ">
            <div class="modal-header bg-yellow">
                <h1 class="modal-title fs-5 ms-3" id="commentModalLabel">Leave a comment or a review!!!
                </h1>
                <button type="button" class="btn-close rounded-3" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST">
                {% csrf_token %}

                {% if user.is_authenticated %}
                <div class="modal-body bg-dark">
                    <h3 class="text-yellow">Leave your comment/review here:</h3>

                    {{ comments_form | crispy }}

                </div>
                <div class="modal-footer bg-dark rounded-bottom">
                    <button type="button" class="btn btn-secondary btn-sm-minwidth rounded-3"
                        data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-yellow btn-sm-minwidth text-dark rounded-3">Submit</button>
                </div>

                {% else %}

                <h3 class="text-center text-dark">
                    Sorry! You don't have the authorization to leave a comment!
                    Please Sign In to leave a comment!!!
                </h3>

                {% endif %}
            </form>
        </div>
    </div>
</div>


{% endblock %}