{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col">
            <div class="my-5 py-5">
                <h1 class="text-center text-dark">Used Products List</h1>

                <ol class="breadcrumb mb-4">
                    <li class="active">All used Products: </li>
                </ol>

                <div class="row d-flex align-items-center">

                    {% for product in products %}

                    {% include 'products/includes/products.html' %}

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}