<section class="container my-5 text-dark">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-6">
            <div class="card rounded-3 bg-dark shadow-lg">
                <div class="text-center text-yellow mb-5">
                    <h1 class="my-4 fs-3 fw-bold text-danger">Error!</h1>
                    <ol class="breadcrumb mx-auto d-flex justify-content-center mb-4">
                        <li class="fs-4 text-danger">Restricted Access Area</li>
                    </ol>
                    {% if not user.is_authenticated %}
                    <p class=" mb-2 text-center">
                        <span class="text-light">Access reserved only to authenticated user!</span>
                    </p>
                    <p class="mb-2 text-center">
                        <span class="text-light">Click on the Link below to be redirected to the Sign In Page!</span>
                    </p>
                    <a class="mt-4 btn btn-lg btn-sm-minwidth btn-yellow text-dark rounded-3"
                        href="{% url 'account_login' %}" aria-label="Login">Sign In</a>
                    {% else %}
                    <p class=" mb-2 text-center">
                        <span class="text-light">Access reserved only to Administrators!</span>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>