{% if messages %}

{% for message in messages %}

{% if "signed" in message|safe %}

{% else %}

<div class="container">
    <div class="row">
        <div class="col">
            <div id="msg" class="messages alert alert-{{ message.tags }} alert-dismissible mt-5 rounded-3 fade show"
                role="alert">
                <strong>Message:</strong> {{ message }}
                <button type="button" class="btn-close rounded-3" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endfor %}

{% endif %}