{% if messages %}

{% for message in messages %}

{% if "signed" in message|safe %}

{% else %}

<div class="container">
    <div class="row">
        <dov class="col">
            <div id="msg" class="alert alert-{{ message.tags }} alert-dismissible mt-5 rounded-3 fade show"
                role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </dov>
    </div>
</div>

{% endif %}

{% endfor %}

{% endif %}