{% load static %}

<div class="col-12 offset-sm-2 col-sm-8 offset-md-0 col-md-6 col-lg-6 col-xl-4 col-xxl-3 mb-4">
    <div class="card h-100 py-2 px-2 rounded-3 shadow-lg">

        <div class="type-lb">
            {% if product.product_status == 0 %}
            <p class="new">New</p>
            {% else %}
            <p class="sale">Used</p>
            {% endif %}
        </div>

        {% if product.image %}

        <a href="{% url 'product_details' product.slug %}">
            <img src="{{ product.image.url }}" class="img-fluid img-card-products rounded-3"
                alt="Image {{ product.title }}" width="300" height="300">
        </a>

        {% else %}

        <a href="{% url 'product_details' product.slug %}">
            <img src="{% static 'images/no-image-placeholder.webp' %}" class="img-fluid img-card-products rounded-3"
                alt="Image {{ product.title }}" width="300" height="300">
        </a>

        {% endif %}

        <div class="card-body product-card">
            <h3>
                <a href="{% url 'product_details' product.slug %}" class="text-decoration-none text-dark mb-3"
                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ product.title }}">
                    {{ product.title|truncatechars:15 }}
                </a>
            </h3>
            <div class="mb-2">
                <span class="badge bg-secondary">{{ product.category }}</span>
            </div>
            <p class="card-text">Brand: {{ product.brand }}</p>

            {% if product.is_deleted %}
            <div class="mb-2">
                <span class="badge bg-danger">Product Deleted</span>
            </div>

            {% else %}

            {% if product.product_status == 0 %}
            <p class="card-text">Condition: New</p>
            {% else %}
            <p class="card-text">Condition: Used</p>
            {% endif %}
            {% endif %}

            <div class="d-flex justify-content-between">
                <div>
                    <ul class="list-unstyled">
                        {% if product.get_avg_rating %}
                        <li>
                            {% with ''|center:product.get_avg_rating as range %}
                            {% for i in range %}
                            <i class="fas fa-star text-yellow"></i>
                            {% endfor %}
                            {% endwith %}
                        </li>
                        {% else %}
                        <li> No Rating </li>
                        {% endif %}
                    </ul>
                </div>

                <div>
                    <ul class="list-unstyled">
                        {% if product.discounted_price %}

                        <li class="text-dark text-right">
                            {{ product.discounted_price }} Euro
                        </li>

                        <li class="text-muted text-right">
                            <span>
                                <del>{{ product.price }} Euro</del>
                            </span>
                        </li>

                        {% else %}

                        <li class="text-dark text-right mb-4">{{ product.price }} Euro</li>

                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <p class="text-muted">Comments ({{ product.productcomment_set.count }})</p>
                </div>
            </div>

            {% if user.is_superuser or product.created_by.id == user.id %}

            {% if product.is_deleted %}
            <a class="my-2 btn btn-outline-warning btn-sm-minwidth rounded-3"
                href="{% url 'product-restore' product.slug %}" aria-label="Restore">Restore</a>

            {% else %}

            <a class="my-2 btn btn-outline-primary btn-sm-minwidth rounded-3"
                href="{% url 'product-update' product.slug %}" aria-label="Update">Edit</a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm-minwidth btn-outline-danger rounded-3" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop{{ product.slug }}">
                Delete
            </button>
            {% endif %}

            {% else %}

            {% endif %}


            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop{{ product.slug }}" data-bs-backdrop="static"
                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel{{ product.slug }}"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content bg-dark rounded-3">
                        <form method="POST">
                            {% csrf_token%}
                            <div class="modal-header d-flex justify-content-center bg-yellow">
                                <h1 class="fs-4 modal-title d-flex justify-content-center text-center text-dark"
                                    id="staticBackdropLabel{{ product.slug }}">Are you sure?</h1>
                            </div>
                            <div class="fs-6 modal-body d-flex justify-content-center m-3 text-yellow text-center">
                                <p>
                                    By Clicking <strong>Delete</strong> the Product <strong>{{ product.title}}</strong>
                                    will be deleted
                                    and it will not be displayed in the Store!
                                    {% if user.is_superuser %}
                                    <br><br>
                                    <strong>Note:</strong> Go to the <strong><i>Deleted Products</i></strong>
                                    Sub-Section if you want to restore it!
                                    {% endif %}
                                </p>
                            </div>
                            <div class="modal-footer m-3">
                                <a href="{% url 'products-list' %}"
                                    class="m-1 btn btn-sm-minwidth btn-primary rounded-3" aria-label="Back">Back
                                </a>
                                <a class="btn btn-sm-minwidth btn-danger rounded-3"
                                    href="{% url 'product-delete' product.slug %}" aria-label="Delete">Delete</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>